body {
  background-color: #f9f7fe;
  font-family: "Times New Roman", Times, serif;
}
header {
  margin-bottom: 30px;
}

h1 {
  color: #537e80;
  font-size: 36px;
  line-height: 1.5;
  font-weight: 800;
  text-align: center;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

.instruction {
  padding: 16px;
  border: 1px solid rgba(66, 65, 100, 0.4);
  width: 80%;
  font-size: 14px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background: #537e80;
  color: white;
  border: none;
  width: 150px;
  padding: 14px 24px;
  border-radius: 50px;
  font: 16px;
}
.form-container {
  margin-bottom: 38px;
  border-radius: 20px;
  background: white;
  padding: 15px 38px;
  box-shadow: rgba(66, 65, 100, 0.4);
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.5;
}
.poem strong {
  color: #537e80;
}

.poem {
  font-size: 14px;
  background-color: #fff;
  padding: 38px;
  line-height: 24px;
  border-left: 3px solid #537e80;
  box-shadow: rgba(39, 33, 66, 0.4);
  border-radius: 24px;
}

.hidden {
  display: none;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
